vs/

# Visual Studio dosyalarını engelle
*.suo
*.user
*.sln.cache
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.cachefile
*.VC.opendb
*.VC.db
*.obj
*.pdb
*.ilk
*.aps
*.pch
*.exp
*.lib
*.idb
*.manifest
*.tlog
*.log
*.vsix
*.builds
*.pidb
*.log
*.tlog
*.tlog/*
*.lastbuildstate
*.vsidx

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
